<h2>Herzlich willkommen!</h2>

<p>
    Das Internet ist eine äußerst aufregende Welt. Um so wichtiger ist es, mit 
    den Trends zu gehen, und sowohl technologisch also auch stilistisch immer 
    auf dem aktuellen Stand zu bleiben.
</p>
<p>
    Nach inzwischen ca. {date('Y') - 2000} Jahren Erfahrung in der Entwicklung 
    webbasierter Anwendungen für unterschiedlichste Unternehmen, bin ich der 
    richtige Ansprechpartner für Sie und Ihr Web-Projekt.
</p>
<p>
    Ob Online-Shop, News-Seite, Marken-Seite, Community oder einfach nur eine Visitenkarte. 
    Wichtig ist, dass sich die Lösung an Ihren Anforderungen orientiert, und 
    Sie nicht Ihre Anforderungen änder müssen, nur weil Ihnen ein 
    Standard-Framework vorgesetzt wird. Ihre Anforderungen legen fest, welche 
    Systeme und Technologien zum Einsatz kommen. Dabei kann ich Ihnen durch 
    meine langjährige Erfahren die Vor- und Nachteile aller Möglichkeiten 
    aufzeigen.
</p>
<div>
    
</div>